body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    min-width: 320px;
    margin: 0;
    
}

#root {
    min-height: 100vh;
    margin: 0 auto;
    background-color: rgba(52, 155, 224, 1);
    background-image: url(https://th.bing.com/th/id/OIP.VU7LCP_Wvta1TccVznRgfAHaEK?w=275&h=180&c=7&o=5&dpr=1.25&pid=1.7);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.inputEnterCity {
    margin: 10% 0 3% 30%;
    border: 3px solid rgba(220, 234, 242, 1);
    box-shadow: 4px 6px 9px 1px rgba(250,250,250,0.62);
    background: rgba(220, 234, 242, 0.6);
    border-radius: 8px;
    min-height: 40px;
    width: 35%;
    font-weight: bold;
    padding-left: 15px;
    outline: none;
    color:  rgb(39, 80, 104);
    font-weight: bold;
    font-size: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.inputEnterCity::-webkit-input-placeholder { 
    color:  rgb(39, 80, 104);
    font-weight: bold;
    font-size: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.addCityBtn,
.deleteCityBtn {
    border: 2px solid whitesmoke;
    min-height: 30px;
    border-radius: 8px;
    background: #007bff;
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin: 10px;
    box-shadow: 4px 6px 9px 1px rgba(250,250,250,0.62);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    outline: none;
}

.addCityBtn:hover,
.deleteCityBtn:hover {
    background:  rgba(220, 234, 242, 0.9);
    transform: scale(1.1);
}

.listCities {
    list-style: none;
    margin-left: 25%;
    border-radius: 8px;
    width: 50%;
    min-height: 60px;
    background:  rgba(242, 239, 220, 0.5);
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.newCityDiv {
    display: flex;
    flex-direction: column;
}

.divForCitiesInList::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background:  rgba(250,250,250,1);
    margin: 10px 0;
    box-shadow: 4px 6px 9px 1px rgba(250,250,250,0.62);
}

.listCitiesItem {
    margin-bottom: 12px;
    background:  rgba(244, 248, 17, 0.9);
    
}

.listBtnEdit,
.listBtnDelete,
.listBtnSave {
    border: 2px solid whitesmoke;
    min-height: 30px;
    border-radius: 8px;
    background: #007bff;
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin: 5px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    outline: none;
}

.listBtnEdit:hover,
.listBtnDelete:hover,
.listBtnSave:hover {
    transform: scale(1.1);
}

.inputEditCity {
    border: 1px solid rgba(220, 234, 242, 1);
    background: rgba(220, 234, 242, 0.6);
    border-radius: 8px;
    min-height: 20px;
    min-width: 60px;
    color: rgba(54, 69, 79, 1);
    font-weight: bold;
    font-family: '"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.wrapperForGeoExchange {
    padding: 2%;
    display: flex;
    justify-content: space-between;

}

.wrapperForGeo,
.wrapperForExchange {
    min-width: 25%;
    min-height: 150px;
    border-radius: 8px;
    background:  rgba(37, 87, 116, 0.5);
    color: white;
    font-weight: bold;
    box-shadow: 4px 6px 9px 1px rgba(250,250,250,0.62);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.geoHeader,
.exchHeader {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;

}

.geoContentOne,
.exchangeContentUSD,
.exchangeContentEUR {
    text-transform: uppercase;
    margin-bottom: 8px;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}

@media (max-width: 768px) {
    .wrapperForGeoExchange {
        flex-direction: column;
        align-items: center;
    }

    .wrapperForGeo {
        margin-bottom: 20px;
    }

    .listCities {
        margin-left: 10%;
        width: 80%;
    }

    .inputEnterCity {
        width: 50%;
        margin-left: 20%;
    }
}